*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: aqua;
    padding: 15px 15%;
}

header div{
    background-color: rgb(255, 166, 0);
    border-style: dashed;
    display: inline-block;
    line-height: 30px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.links{
    text-align: center;
    flex-basis: 800px;
}

.logo{
    flex-grow: 1;
    padding-left: 10px;
}

.login{
    text-align: right;
    flex-grow: 1;
    padding-right: 10px;
}

/* main */
.top{
    background-color: blue;
}

.top div{
    width: 50%;
    height: 400px;
    background-color: pink;
    margin: 50px;
    border-style: dashed;
}

/* center1, center3 */
.center1, .center3{
    padding: 50px;
}

.center1 div, .center3 div{
    height: 500px;
    border-style: dashed;
}

.center1 .sx, .center3 .sx{
    flex-basis: 600px;
    background-color: rgb(100, 100, 255);
}

.center1 .dx, .center3 .dx{
    flex-basis: 400px;
    background-color: rgb(255, 100, 242);
}

/* center2 */
.center2{
    padding: 50px;
    background-color: rgb(170, 170, 170);
}

.center2 div{
    height: 500px;
    border-style: dashed;
}

.center2 .sx{
    flex-basis: 400px;
    background-color: rgb(255, 100, 242);
}

.center2 .dx{
    flex-basis: 600px;
    background-color: rgb(100, 100, 255);
}

/* bot */
.bot{
    background-color: rgb(170, 170, 170);
    padding: 50px;
}

.bot div{
    background-color: green;
    border-style: dashed;
    flex-basis: 1000px;
    height: 800px;
}

/* footer */
/* foot */
footer{
    background-color: rgb(30, 30, 30);
}

.foot{
    padding: 50px;
    border-bottom: 1px solid grey;
}

.foot > div{
    height: 500px;
    border-style: dashed;
}

.foot .sx{
    background-color: rgb(255, 100, 242);
    flex-basis: 400px;
}

.foot .dx{
    flex-basis: 600px;
}

.col{
    background-color: rgb(0, 153, 255);
    flex-grow: 1;
    border-style: dashed;
    border-color: white;
}

/* buttons */
.buttons{
    background-color: aqua;
    margin: 50px auto;
    margin-bottom: 0;
    width: 1000px;
    justify-content: space-between;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.buttons > *{
    background-color: rgb(255, 166, 0);
    padding: 10px;
    border-style: dashed;
    margin: 15px 0;
}